@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "bootstrap-icons/font/bootstrap-icons.css";
@plugin "daisyui" {
  themes: all;
}

html.dark {
  /* color-gray-950 */
  background-color: oklch(13% 0.028 261.692);
  /* background-attachment: fixed; */
  /* background-repeat: repeat; */
}

html:not(.dark) {
  /* color-gray-50 */
  background-color: oklch(98.5% 0.002 247.839);
  /* background-attachment: fixed; */
  /* background-repeat: repeat; */
}

html {
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

.radial-progress::after {
  display: none;
}

.react-calendar-heatmap rect  {
  rx: 3px;
  ry: 2px;
  width: 10px;
  height: 10px;

}

.react-calendar-heatmap text {
  font-size: 0;
}

.react-calendar-heatmap-month-labels {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
}

